<div class="bg-pink pl-3">
  Home
</div>
<div class="container">
  <div class="row">
    <div class="h3">
      ようこそ、ShareMyNailへ
    </div>
  </div>
  <div class="row">
    <div class="col p-2">
      <span class="h5">ShareMyNail</span>は<br>
      セルフネイラーのためのデザイン検索サイトです。<br>
    </div>
  </div>
  <div class="row">
    <div class="h4">New Design</div>
  </div>
  <div class="row">
    <% @designs.each do |design| %>
    <div class="col-3 my-3">
      <%= link_to design_path(design.id), class: "design-link" do %>
        <%= image_tag design.image, width: "70%", height: "70%" %>
      <% end %>
      <div class="my-1">
        <%= design.name %>
      </div>
      <div class="my-1">
        <%= design.user.name %>
      </div>
    </div>
    <% end %>
  </div>
</div>


