<div class="bg-pink pl-3">
  Home
</div>
<div class="container">
  <div class="row">
    <div class="h3">
      ようこそ、ShareMyNailへ
    </div>
  </div>
  <div class="row">
    <div class="col p-2">
      <span class="h5">ShareMyNail</span>は<br>
      セルフネイラーのためのデザイン検索サイトです。<br>
    </div>
  </div>
  <div class="row">
    <div class="h4">New Design</div>
  </div>
  <div class="d-flex flex-column">
    <% @designs.each do |design| %>
    <% if @count == 4 %>
    <% break %>
    <% end %>
    <div class="col-2">
      <%= link_to designs_path(design.id) do %>
        <%= image_tag design.image, width: '100%', height: '100%' %>
      <% end %>
    </div>
    <div class="col-2">
      <%= design.name %>
    </div>
    <div class="col-2">
      <%= design.user.name %>
    </div>
  </div>
  <% end %>
</div>


