<% if design.favorited_by?(current_user) %>
  <div class="col-12 m-1">
    <%= link_to design_favorites_path(design), method: :delete, remote: true do %>
    いいね
    <i class="fa-solid fa-heart"></i>
    <%= design.favorites.count %>
    <% end %>
  </div>
<% else %>
  <div class="col-12 m-1">
    <%= link_to design_favorites_path(design), method: :post, remote: true do %>
    いいね
    <i class="fa-regular fa-heart"></i>
    <%= design.favorites.count %>
    <% end %>
  </div>
<% end %>