@use '~bootstrap/scss/bootstrap';

.bg-pink {
  background-color: #ffcce5;
  height: 3em;
  line-height: 3em;
}

.h3 {
  padding: 0.3em 5em 0.3em 0.5em;
  border-bottom: 3px solid #000;
  border-bottom-style: double;
}

.h4 {
 padding: 0.1em 0.3em 0.1em 0.3em;
 background: linear-gradient(transparent 50%, #ffccff 50%);
}

.h5 {
 padding: 0em 0.3em 0em 0.3em;
 background: linear-gradient(transparent 50%, #ffeaff 50%);
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}
