<div class="bg-pink pl-3">
  <%= link_to "Home", admin_top_path %> >
  Reports All
</div>
<div class="container">
  <div class="row">
    <div class="h3">報告のあったコメント</div>
  </div>
    <div class="col-2">
      <div class="h4">報告日</div>
      <div class="col"><%= report.created_at.strftime('%Y/%m/%d') %></div>
    </div>
</div>