<div class="bg-pink pl-3">
  <%= link_to "Home", admin_top_path %> >
  Users All
</div>
<div class="container">
  <div class="row">
    <div class="h3">Users All</div>
  </div>
  <div class="row">
      <div class="col-3 m-2">
        <div class="h4">
          User ID
        </div>
      </div>
      <div class="col-3 m-2">
        <div class="h4">
          User Name
        </div>
      </div>
      <div class="col-3 m-2">
        <div class="h4">
          User Status
        </div>
      </div>
  </div>
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-3 m-2">
      <%= user.id %>
    </div>
    <div class="col-3 m-2">
      <%= user.name %>
    </div>
    <div class="col-3 m-2">
      <% if user.is_active %>
        <span class="font-weight-bold text-success">有効</span>
      <% else %>
        <span class="font-weight-bold text-secondary">退会</span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
